@{
    ViewData["Title"] = "Casa de Cambio Online";
}

<h2>Bienvenido a la Casa de Cambio</h2>

<p>Selecciona una opción:</p>

<a class="btn btn-primary" asp-controller="Conversion" asp-action="Index">
    Ir a la Conversión de Moneda
</a>

<a class="btn btn-success" asp-controller="Boleta" asp-action="Generar">
    Generar Boleta
</a>