@model CasaCambio.Models.ConversionModel

<h2>Conversión de Moneda</h2>

<form asp-action="Calcular" method="post">
    <label>Cantidad:</label>
    <input type="number" asp-for="Cantidad" required />

    <label>Moneda Origen:</label>
    <select asp-for="MonedaOrigen">
        <option value="BRL">Real Brasileño</option>
        <option value="PEN">Sol Peruano</option>
        <option value="USD">Dólar</option>
    </select>

    <label>Moneda Destino:</label>
    <select asp-for="MonedaDestino">
        <option value="BRL">Real Brasileño</option>
        <option value="PEN">Sol Peruano</option>
        <option value="USD">Dólar</option>
    </select>

    <button type="submit">Hacer Cambio</button>
</form>
